.journey {
  height: 100vh;
  text-align: left;
  width: 90vw;
  margin: 10% auto;
}
.journey article title {
  color: rgb(151, 151, 151);
  display: block;
  padding-left: 5px;
}
.journey article h2 {
  font-size: 55px;
  margin: 0.5rem 0;
}
.steps {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 2rem;
}
.steps div {
  padding: 10px;
  border-radius: 20px;
  transform: translateX(-10%);
  opacity: 0;
}

.steps div.show:nth-child(1) {
  transition: all 1s;
}
.steps div.show:nth-child(2) {
  transition: all 1.3s;
}
.steps div.show:nth-child(3) {
  transition: all 1.6s;
}

.steps div.show {
  transform: translateX(0);
  opacity: 1;
}

.steps h3 {
  font-size: 6rem;
  margin: 0;
  font-weight: 300;
  color: grey;
}
.steps h4 {
  font-size: 1.5rem;
  margin: 0;
}
.stepOne h4 span {
  color: red;
}
.stepTwo h4 span {
  color: green;
}
.stepThree h4 span {
  color: chocolate;
}
