.projects {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5% auto;
  overflow: hidden;
  max-width: 1200px;
}

.portfolioNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 3rem;
}

.portfolioNav button {
  border: none;
  width: 5%;
  height: 2rem;
  background-color: #191923;
  border-radius: 5%;
}
.portfolioNav button:hover {
  cursor: pointer;
  background-color: #19192391;
}

button.active {
  background-color: #4a7ba4;
  color: rgb(20, 20, 20);
}
button.active:hover {
  background-color: #4a7ba4;
  opacity: 0.8;
}

@media (max-width: 900px ) {
  .projects {
    flex-direction: column;
    align-items: center;
  }
  .portfolioNav {
    width: 100%;
  }
  .portfolioNav button{
    width: auto;
  }
}
