.project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 800px;
  max-width: 900px;
  height: 400px;
  background-color: #16161a;
  border: 5px solid #1e1f21;
  border-radius: 15px;
  color: #eeeeee;
  position: relative;
  box-sizing: border-box;
  padding: 7%;
}
.project:nth-child(even){
  transform: translateX(15vw);
}
.project:nth-child(odd){
  transform: translateX(-15vw);
}

.project > p {
  font-weight: 600;
}
.project:nth-child(odd) > p {
  position: absolute;
  top: 5%;
  right: 2%;
  font-size: 14px;
  text-transform: uppercase;
}

.project:nth-child(even) > p {
  position: absolute;
  top: 5%;
  left: 2%;
}

.project > a {
  background-color: #eeeeee;
  color: #16161a;
  padding: 1% 1.5%;
  font-weight: 600;
  border-radius: 25px;
  font-size: 14px;
}

.project:nth-child(odd) > a {
  position: absolute;
  top: 5%;
  left: 2%;
}

.project:nth-child(even) > a {
  position: absolute;
  top: 5%;
  right: 2%;
  font-size: 14px;
  text-transform: uppercase;
}

.project:nth-child(even) {
  flex-direction: row-reverse;
}
.project:nth-child(even) .description {
  border-radius: 15px 0 0 15px;
}

.description {
  flex-basis: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
}

.description h3{
  text-shadow: 0px 0px 2px rgba(204, 204, 204, 0.89);
}

.glass {
  height: 400px;
  flex-basis: 70%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.technologies ul {
  list-style: none;
  line-height: 1.5rem;
}

.image {
  height: 70%;
  width: 80%;
  flex-basis: 80%;
  padding: 1rem;

  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}
