.glass {
  background: rgba(161, 161, 161, 0.1);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(161, 161, 161, 0.08);
  width: 400px;
  height: 400px;
  display: block;
  padding: 1.5rem;
}

.glass .image {
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  height: 70%;
  width: 80%;
  border-radius: 12px;
  background-image: url(https://cdn.pixabay.com/photo/2020/03/26/08/41/pen-4969580_960_720.jpg);
}

.glass h3 {
  margin: 0.5rem;
  color: rgb(236, 235, 235);
}

.glass p {
  text-align: left;
  color: grey;
}
.glass:hover p {
  color: #0abdc0;
}
.glass:hover h3 {
  color: #0df9ff;
}
