.project {
  width: 30%;
  height: 50%;
  box-sizing: border-box;
  position: relative;
}

.project::after{
content: 'Hovered';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: red;
display: none;
}
.project:hover::after{
  display: block;
}

.image {
  height: 100%;
  width: 100%;
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  display: block;
  transition: all .5s;
}
