.formWrap {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.formWrap form{
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: chocolate;
}

.socials {
    width: 40%;
}