.formWrap {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 5% auto;
    height: 70vh;
    max-height: 650px;
    max-width: 1620px;
}
.formWrap h2{
    text-align: center;
    margin-bottom: 2rem;
}

.formWrap form{
    width: 35%;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(128, 128, 128, 0.596);
    text-align: left;
    font-size: 18px;
    border-radius: 15px;
    padding: 1.5rem;
    gap: 1.5rem;
}

.form {
    height: 100%;
    box-sizing: border-box;
}

.form ::placeholder{
    color: rgb(209, 209, 209);
}

.form input{
    height: 2rem;
    border-radius: 8px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    padding: 2%;
}
.form label {
    margin: 1%;
}

.area {
    height: 40%;
    display: block;
}
.area textarea{
    height: 100%;
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
    resize: none;
    border-radius: 15px;
    border: none;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.buttons button{
    width: 25%;
    height: 2rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.buttons button:nth-child(2){
    background-color: #007a7c;
}

.map {
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding: 2%;
    box-sizing: border-box;
    position: relative;
    z-index:15 ;
}

.map::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: -1;
    border: 2px solid white;
    border-image: linear-gradient(to bottom right, #ffffff 25%, transparent 25%) 1;
    top: 0;
    left: 0;
}
.map::after{
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: -1;
    border: 2px solid white;
    border-image: linear-gradient(to top left, #ffffff 25%, transparent 25%) 1;
    bottom: 0;
    right: 0;
}


@media (max-width:900px) {
    .formWrap {
        flex-direction: column;
        height: auto;
        max-height: none;
        width: 80%;
        height: 150vh;
        gap: 2rem;
    }
    .formWrap form {
        width: 100%;
    }
    .map {
        width: 100%;
        aspect-ratio: 1/1;
    }
}