.head{ 
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
}

.head main{
    flex-basis: 30%;
}

.head aside{
    flex-basis: 70%;
}

.head aside h1{
    font-size: 5em;
}
.head aside h2{
    font-size: 3em;
}
