.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  height: 100vh;
  margin: 0 auto;
  max-width: 1620px;
  width: 90vw;
  gap: 2rem;
}
.home main {
  flex-basis: 45%;
}

.home main div {
  height: 80vh;
  max-height: 866px;
  background-image: url(https://cdn.discordapp.com/attachments/1045101615390130229/1136192901257379870/IMG_3328.jpeg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.home aside {
  transform: translateX(10%);
  flex-basis: 50%;
  height: 40vh;
  padding: 2%;
  box-sizing: border-box;
/* GLASS */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}


.home aside h2:nth-child(3) {
  color: grey;
}
.home p {
  line-height: 150%;
}

.background {
  position: absolute;
  right: 0;
  top: 0;
  height: 110vh;
  width: 65%;
  background-color: #191923;
  z-index: -1999;
}

@media (max-width:700px) {
  .home{
    flex-direction: column;
  }
  .home main div{
    width: 80vw;
  }
}
