.skills {
  display: flex;
  margin-bottom: 10%;
  padding: 3rem;
  gap: 2rem;
  text-align: left;
}
.skills h2 {
  font-size: 45px;
}
.info {
  width: 35%;
}

.skillsAside {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.skillsAside div {
  padding: 10px;
}

.skillsAside div svg{
  font-size: 50px;
}

.skillsAside div:nth-child(1) svg{
color: var(--react-color)
}
.skillsAside div:nth-child(2) svg{
color: var(--nodeJS-color);
}
.skillsAside div:nth-child(3) svg{
color: var(--typeScript-color)
}
.skillsAside div:nth-child(4) svg{
color: var(--photoShop-color)
}
