.footer {
  height: 30vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer p {
  margin: .5rem;
  font-size: 22px;
}
.footer p svg {
  margin: 0 .5rem;
}

.footer a {
  color: white;
  font-size: 22px;
  margin: .5rem ;
}
