.desktop {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  height: 7vh;
}
.logo {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
}
.logo img {
  width: 100%;
  height: 100%;
}

.navigation {
  display: flex;
  gap: 1rem;
  height: 100%;
  width: 45%;
}

.navigation a {
  color: #eeeeee;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5% 0 5%;
}

.navigation a:last-child {
  background-color: #4a7ba4;
}
.navigation a:last-child:hover {
  color: white;
}

.navigation a:hover {
  color: #4a7ba4;
}
