.desktop {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}
.logo {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation {
  display: flex;
  gap: 3rem;
}

.navigation a {
  color: #eeeeee;
  font-weight: 400;
}

.navigation a:hover {
  color: #4a7ba4;
}

@media (max-width: 700px) {
  .desktop {
    display: none;
  }
}
