.desktop {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}
.logo{
  height: 80%;
  display: flex;
  justify-content: center;
  transform: translateY(10%);
}

.navigation {
  display: flex;
  gap: 3rem;
  height: 100%;
}

.navigation a {
  color: #eeeeee;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5% 0 5%;
}

.navigation a:hover {
  color: #4a7ba4;
}

@media (max-width: 700px) {
  .desktop {
    display: none;
  }
}
