.mobile {
    display: none;
}

@media(max-width:700px){
    .mobile{
        display: block;
        z-index: 2000;
        overflow: hidden;
        position: fixed;
        top: 1%;
        left: 2%;
    }
    .mobile .dialog svg{
        width: 100px;
        height: 100px;
        display: block;
    }
    .dialog {
        display: block;
        margin:0
    }
}