.mobile {
    display: none;
}

@media(max-width:700px){
    .mobile{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        width: 90%;
        height: 10vh;
        bottom: 3%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2000;
        border-radius: 2% 2% 38% 38%;
        background-color: rgb(204, 204, 204);
        overflow: hidden;
    }
    .mobile a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        aspect-ratio: 1;
        background-color: aliceblue;
        box-sizing: border-box;
        margin-bottom: 2%;
        font-size: 1.5rem;
        color: #4a7ba4;
        border-radius: 0 0 40% 40%;
        transition: .5s ease-in-out;
    }
    .mobile a.active{
        background-color: #4a7ba4;
        color: aliceblue;
        border-radius: 50%;
    }
}