.mobile {
    display: none;
}

@media(max-width:700px){
    .mobile{
        position: absolute;
        top: 1%;
        right: 2%;
        display: block;
        z-index: 2000;
        width: 10%;
        height: 100%;
        text-align: right;
    }
    .mobile button {
        background-color: transparent;
        border: none;
    }

    .mobile{
        display: none;
    }
    .active{
        display: block;
    }
    
}